html {
  scroll-behavior: smooth;
}

html,
body {
  background-image: url(/img/checkered.jpg);
  font-family: "roboto", sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body * {
  box-sizing: border-box;
}

/*Start Navbar CSS */

.navimg {
  height: 4.5%;
  width: 4.5%;
}

header,
header nav {
  width: 100%;
}

header nav {
  background-color: #fefefe;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 0 1rem 0 rgb(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
}

header nav,
header nav ul,
header nav ul > li {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header nav ul {
  list-style-type: none;
}

header nav ul > li {
  position: relative;
}

header nav ul > li:hover ul {
  top: 100%;
}

header nav ul li a,
header nav ul li a:visited {
  color: #000;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
}

header nav ul li a:hover {
  color: gray;
}

header nav ul > li > ul {
  align-items: stretch;
  box-shadow: 0 0.5rem 0.3rem 0 rgb(0, 0, 0, 0.2);
  position: absolute;
  flex-direction: column;
  left: 0;
  top: -300%;
  transition: top 0.5s ease;
  z-index: -1;
}

header nav ul > li > ul > li > a {
  background-color: #fefefe;
  border-bottom: 1px solid #bbb;
  width: 100%;
  white-space: nowrap;
}

/* Start Line Menu Hover */
header nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #f29798;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}

header nav ul li a:hover:before,
header nav ul li a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

a:before {
  background-color: rgba (0, 0, 0, 0);
  box-shadow: 0 0 10px 2px #f29798;
}
/* End Line Menu Hover */
/* End Navbar CSS*/

/* HOMEPAGE */

/* Start Reviewstuk CSS */
div.homepage-row {
  display: flex;
  margin: 5% -7% 0% -7%;
  width: 115%;
}

div.homepage-row,
div.review {
  float: left;
  margin-right: 3%;
  padding: 0% 13%;
}

div.review {
  padding: 1%;
  width: 25%;
}

div.review-inner {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  height: 65%;
  padding: 1%;
  text-align: center;
}
/* End Reviewstuk CSS */

/* Start Carousel CSS */
div.homeppage-row,
div.carousel-col {
  float: left;
  margin-right: 3%;
  padding: 0% 13%;
}
div.carousel-col {
  padding: 1%;
  width: 51%;
}
div.carousel-inner {
  height: 44%;
  margin-bottom: 0.5rem;
  padding: 1%;
}

div#carousel,
div#carousel div.slider-item,
div#carousel div.slider-item img {
  height: 55vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 41vw;
}

div#carousel {
  position: relative;
}
div#carousel div.slider-item {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 100%;
  padding: 10vh 10vw;
  transition: left 0.8s ease;
  z-index: 1;
}

div#carousel div.slider-item.top {
  align-items: flex-start;
}
div#carousel div.slider-item.bottem {
  align-items: flex-end;
}

div#carousel div.slider-item.left {
  justify-content: flex-start;
}
div#carousel div.slider-item.right {
  justify-content: flex-end;
}

div#carousel div.slider-item.active {
  left: 0;
  z-index: 2;
}
div#carousel div.slider-item.sliding {
  left: -100%;
}

div#carousel div.slider-item img {
  object-fit: cover;
  object-position: 0 60%;
  z-index: 1;
}

div#carousel div.slider-item div.slider-content {
  background-color: rgb(255, 255, 255, 0.5);
  padding: 0 1.5rem;
  position: relative;
  width: 30rem;
  z-index: 2;
}

div#carousel div.slider-item div.slider-content {
  text-align: center;
  padding: 1rem;
}
/* End Carousel CSS */

/* Start Introstuk CSS */
div.intro-inner {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  height: 20%;
  margin: 1% 0% 7% 1.1%;
  padding: 1%;
}

.intro-inner h2,
.end-intro {
  text-align: center;
}
/* End Introstuk CSS */

/* Start Cards CSS */
div.card-col {
  padding: 1%;
  width: 25%;
}
.card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 9%;
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.cardimg {
  box-shadow: 0% 0% 1rem 0% rgb(0, 0, 0, 0.5);
}

.button {
  /* background-color: gray; */
  background-image: url(/img/sliderfoto1.jpg);
  background-size: cover;
  border-radius: 9px;
  box-shadow: 0 0 1rem 0 rgb(0, 0, 0, 0.4);
  color: white;
  margin-bottom: 2%;
  padding: 3%;
  text-decoration: none;
}

.button:hover {
  background-color: lightgrey;
}
/* End Cards CSS */

/* Start Footer CSS */
footer {
  float: left;
  background-color: #fff;
  color: black;
  text-align: center;
  font-size: 1.1rem;
  position: fixed;
  width: 100%;
  padding: 1.5rem;
  bottom: 0;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
/* hulp nodig */

/* End Footer  CSS*/

/* END HOMEPAGE */

/* START ACTIVITIES */

/* Start Dropdown Menu CSS */
div.activities-row {
  display: flex;
  margin-top: 10%;
  width: 115%;
}

div.activities-row,
div.menu-col {
  float: left;
  margin-right: 3%;
  padding: 0% 3%;
}

div.menu-col {
  padding: 1%;
  width: 35%;
}

div.sidebar {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 1%;
  text-align: center;
}

.sidebar {
  color: #000;
  text-decoration: none;
}

.sidebar a {
  color: #000;
  display: block;
  padding: 5% 5% 5% 10%;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
/* End Dropdown Menu CSS */

/* Start Activities-info CSS */
div.activities-row {
  display: flex;
  margin: 7% 1% 0% 1%;
  width: 100%;
}

div.activities-row,
div.activities-col {
  float: left;
  margin-right: 3%;
  padding: 0% 3%;
}

div.activities-col {
  padding: 1%;
  width: 65%;
}

div.activities-inner {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 2%;
  padding: 1%;
  text-align: center;
}
/* End Activities-info CSS */

/* END ACTIVITIES CSS */

/* START INFORMATION CSS */
div.information-row {
  display: flex;
  margin: 5% -7% 0% -7%;
  width: 125%;
}

div.information-row,
div.information-col1,
div.information-col3 {
  float: left;
  margin-right: 3%;
  padding: 0% 13%;
}

div.information-col1,
div.information-col3 {
  padding: 1%;
  width: 150%;
}

div.information-inner {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin-top: 4%;
  height: 100%;
  padding-left: 3.5%;
  padding-top: 3%;
  text-align: left;
}

img.informationimg {
  width: 75%;
  height: 110%;
  border-radius: 50%;
}

/* information row 2 */

div.information-row2 {
  display: flex;
  margin: 6% -7% 6% -7%;
  width: 131%;
}

div.information-row2,
div.information-col2 {
  float: left;
  margin-right: 11%;
  padding: 0% 13%;
  margin-left: -15%;
}

div.information-col2 {
  padding: 1%;
  width: 150%;
  margin-left: -6%;
}

div.informationimg-col2 {
  margin-left: 10%;
}

div.information-row3 {
  display: flex;
  margin: 4% -7% 0% 5.6%;
  width: 99.5%;
}
/* END INFORMATION CSS */

/* START RECENTIES CSS */

/*  */
div.review-row1,
div.review-row2 {
  display: flex;
  margin: 7% 1% 0% 1%;
  width: 100%;
}

div.review-row1,
div.review-col1 {
  float: left;
  margin-right: 3%;
  padding: 0% 3%;
}

div.review-col1 {
  padding: 1%;
  width: 30%;
}

div.review-inner1 {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 1%;
  padding: 3%;
  text-align: center;
}

div.review-row1,
div.review-col2 {
  float: left;
  margin-right: 3%;
  padding: 0% 3%;
}

div.review-col2 {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 1%;
  width: 60%;
}

div.review-inner2 {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 2%;
  width: 30%;
  padding: 2%;
  text-align: center;
}
/*  */

/* Start review-form CSS */

div.review-col202 {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 1%;
  width: 100%;
}

div.review-inner3 {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: auto 3% 0% 28%;
  /* margin-bottom: 2%; */
  width: 53%;
  padding: 2%;
  /* text-align: center; */
}

.center {
  text-align: center;
}

.input-review {
  width: 55%;
}
/* End review-form CSS */

/* END RECENTIES CSS */

/* START CONTACT CSS */
div.contactinfo-col {
  float: left;
  width: 47.5%;
}
div.contact-inner {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 3% 0% 7% 3%;
  padding: 1%;
  width: 100%;
}

.contact-inner,
.end-contact {
  text-align: center;
}

/* Form css */

div.contactfillout-col {
  float: right;
  width: 45%;
  margin-top: 9%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

div.contactfillout-inner {
  background-color: #fff;
  margin: auto 10% 0% 10%;
  padding-bottom: 5%;
}

.input-contact {
  width: 100%;
}

input#inputFirstname.input-name,
input#inputLastname.input-name {
  width: 115%;
}

input#inputLastname.input-name,
.lastname {
  margin-left: 35%;
}

.imgcontactpagina {
  margin-top: 19%;
  margin-left: 3%;
}

/* END CONTACT CSS */


/* START READ CSS */
#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: black;
}