html,
body {
  background-image: url(/img/checkered.jpg);
  font-family: "roboto", sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  
}

body * {
  box-sizing: border-box;
}

/*Start Navbar CSS */

.navimg{
  height: 4.5%;
  width: 4.5%;
}

header,
header nav {
  width: 100%;
}

header nav {
  background-color: #fefefe;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 0 1rem 0 rgb(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
}

header nav,
header nav ul,
header nav ul > li {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header nav ul {
  list-style-type: none;
}

header nav ul > li {
  position: relative;
}

header nav ul > li:hover ul {
  top: 100%;
}

header nav ul li a,
header nav ul li a:visited {
  color: #000;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
}

header nav ul li a:hover {
  color: gray;
}

header nav ul > li > ul {
  align-items: stretch;
  box-shadow: 0 0.5rem 0.3rem 0 rgb(0, 0, 0, 0.2);
  position: absolute;
  flex-direction: column;
  left: 0;
  top: -300%;
  transition: top 0.5s ease;
  z-index: -1;
}

header nav ul > li > ul > li > a {
  background-color: #fefefe;
  border-bottom: 1px solid #bbb;
  width: 100%;
  white-space: nowrap;
}

/* Start Line Menu Hover */
header nav ul li a:before {
content: "";
position: absolute;
width: 100%;
height: 3px;
bottom: 0;
left: 0;
background: #cd3700;
visibility: hidden;
border-radius: 5px;
transform: scaleX(0);
transition: .25s linear;
}

header nav ul li a:hover:before,
header nav ul li a:focus:before {
visibility: visible;
transform: scaleX(1);
}

a:before {
background-color: rgba (0,0,0,0);
box-shadow: 0 0 10px 2px #cd3700;
}
/* End Line Menu Hover */
/* End Navbar CSS*/


/* HOMEPAGE */


  /* Start Reviewstuk CSS */
  div.homepage-row {
    display: flex;
    margin: 5% -7% 0% -7%;
    width: 115%;
  }
    
  div.homepage-row,
  div.col {
    float: left;
    margin-right: 3%;
    padding: 0% 13%;
  }
    
  div.review{
    padding: 1%;
    width: 25%;
  }

  div.review-inner {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    height: 65%;
    padding: 1%;
    text-align: center;
  }
  /* End Reviewstuk CSS */

  /* Start Carousel CSS */
  div.homeppage-row,
  div.col1 {
    float: left;
    margin-right: 3%;
    padding: 0% 13%;
  }
  div.col1{
    padding: 1%;
    width: 51%;
    
  }
  div.inner1 {
    height: 49%;
    margin-bottom: 0.5rem;
    padding: 1%;
  }

  div#carousel,
  div#carousel div.slider-item,
  div#carousel div.slider-item img {
    height: 55vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 41vw;
  }

  div#carousel {
    position: relative;
  }
  div#carousel div.slider-item {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 100%;
    padding: 10vh 10vw;
    transition: left 0.8s ease;
    z-index: 1;
  }

  div#carousel div.slider-item.top {
    align-items: flex-start;
  }
  div#carousel div.slider-item.bottem {
    align-items: flex-end;
  }

  div#carousel div.slider-item.left {
    justify-content: flex-start;
  }
  div#carousel div.slider-item.right {
    justify-content: flex-end;
  }

  div#carousel div.slider-item.active {
    left: 0;
    z-index: 2;
  }
  div#carousel div.slider-item.sliding {
    left: -100%;
  }

  div#carousel div.slider-item img {
    object-fit: cover;
    object-position: 0 60%;
    z-index: 1;
  }

  div#carousel div.slider-item div.slider-content {
    background-color: rgb(255, 255, 255, 0.3);
    padding: 0 1.5rem;
    position: relative;
    width: 30rem;
    z-index: 2;
  }

  div#carousel div.slider-item div.slider-content {
    text-align: center;
  }
  /* End Carousel CSS */

  /* Start Introstuk CSS */
  div.intro-inner{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    height: 20%;
    margin: 1% 0% 7% 1.1%;
    padding: 1%;
  }

  .intro-inner h2, .end-intro{
    text-align: center;
  }
  /* End Introstuk CSS */

  /* Start Cards CSS */
  div.card-col {
    padding: 1%;
    width: 25%;
  }
  .card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    margin-bottom: 9%;
    transition: 0.3s;
    width: 100%;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }

  .cardimg {
    box-shadow: 0% 0% 1rem 0% rgb(0, 0, 0, 0.5);
  }

  .button {
    background-color: gray;
    border-radius: 9px;
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, 0.4);
    color: black;
    margin-bottom: 2%;
    padding: 3%;
    text-decoration: none;
  }

  .button:hover {
    background-color: lightgrey;
  }
  /* End Cards CSS */

  /* Start Footer CSS */
  /* .footer {
    background-color: #fff;
    color: #cfcfcf;
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.5rem;
  } */
  /* End Footer  CSS*/

/* END HOMEPAGE */